<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.user.mapper">
	<select id="selectByDept" resultType="int" parameterType="string">
		select count(*) from yd_user where department=#{department}
	</select>
	<select id="login"   resultType="model.User">
		select * from yd_user where account=#{account} 
	</select>
	 
	<insert id="insertUser"  parameterType="model.User"  >
		insert into yd_user values(#{id},#{account},#{name},#{password},#{department},#{sex},#{birthday},#{education_background},#{job_title},#{telephone},#{state},#{email})
	</insert>
	
	<select id="SelectUser"   resultType="model.User" parameterType="Map">
		select * from yd_user 
	<where> 
    <if test="name != null">
        name like  '%${name}%'
    </if> 
    <if test="account!= null">
        AND account like  '%${account}%'
    </if>
       <if test="department!= null">
        AND department like  '%${department}%'
    </if>
  </where>
	</select> 
	 <select id="Selectuser" resultType="model.User">
     select * from yd_user where id=#{id}
  
  </select> 
  
  <update id="Update" parameterType="model.User" >
      update yd_user set department=#{department},sex=#{sex},birthday=#{birthday},education_background=#{education_background},job_title=#{job_title},telephone=#{telephone},email=#{email},password=#{password} where id=#{id}
  
  </update>
  
  <delete id="DeleteUser">
	  delete from yd_user where id=#{id}
	</delete>
	
	<update id="Repassword"  >
      update yd_user set password="123456" where id=#{id}
  </update>
</mapper>