@charset "utf-8";

* { margin:0;padding:0;font:normal 14px/24px 微软雅黑;}
BODY { width:100%; }
IMG { border:0; }
A, .Right .sheet .rdo INPUT, .Right .sheet .cbx INPUT, .Questionnaire .table TABLE TD LI INPUT { text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur()); }
a:focus{ -moz-outline-style: none; /* FF */ } 
A:hover { text-decoration:none; }
UL,LI{ list-style:none !important }
DIV,UL,LI { height:auto;padding:0;margin:0; }


.clear { clear:both; }
.l { float:left}
.r { float:right}

.fl { float:left}
.fr { float:right}

.pointer { cursor:pointer; }



.FrameTop .top A, .FrameTop .nav .user, .FirstMenu A B, .FirstMenu A SPAN, .SecondMenu LI A, .Right .top .location, .Open .files LABEL, .card #con_one_2 .top LI, .card #con_one_3 .appraise A, .card #con_one_2 .top TABLE LABEL, .Right .bottom A, .FrameTop .nav .curr  { background:url(../images/common_system.png) no-repeat;}

/* 报错 */

.error-sys { width:100%;height:auto;position:relative;overflow:hidden;margin:0 auto;padding:0;}
.error-sys .inner { width:472px;height:189px;margin:15% auto;background:url(../images/common_error.png) no-repeat;background-position:0px -219px;overflow:hidden;}
.error-sys .inner .text { width:315px;height:100px;margin:50px 0 0 125px;text-align:center;font-size:26px;color:#333;line-height:45px;border:0px solid #000;}

/* 头部 */

.FrameTop { width:100%;height:auto;overflow:hidden;}

.FrameTop .top { width:100%;height:auto;overflow:hidden;}

.FrameTop .top .logo { width:520px;height:33px;display:block;float:left;margin:20px 0 0 18px;text-indent:-999px;background-position:-15px -17px;cursor:default;}
.FrameTop .top .password, .FrameTop .top .help, .FrameTop .top .logout { display:block;width:32px;height:32px;float:right;margin:20px 10px 0 0px;}

.FrameTop .top .password { background-position:-123px -85px !important;}
.FrameTop .top .help { background-position:-87px -85px !important;}
.FrameTop .top .logout { background-position:-159px -85px !important;}

.FrameTop .nav { width:100%;height:38px;margin:19px auto 0;background:#158ee5;} 

.FrameTop .nav .user { width:180px;height:38px;background-position:0px -121px;color:#fff;text-indent:50px;line-height:37px;float:left;}

.FrameTop .nav UL { float:left;margin:2px 0 0}
.FrameTop .nav LI { width:110px;height:36px;float:left !important;}
.FrameTop .nav A { cursor:pointer;display:block;width:110px;height:36px;text-align:center;line-height:35px;font-size:15px;font-weight:bold;color:#fff;}

.FrameTop .nav .curr { background-position:-106px -532px;;color:#158ee5;font-weight:bold;}


/* 左侧 */

/*
.FrameLeft { position:relative;margin:-1px 0 0;overflow: scroll;overflow-x:hidden;width:100%;}
*/

.FrameLeft { position:relative;margin:-1px 0 0;overflow: scroll;overflow-x:hidden;overflow-y:hidden;width:179px;border-right:1px solid #9cc5e2;background:#f7f9ff;}
.FirstMenu { position:relative;width:100%;height:auto;overflow:hidden;margin:0 0 0;border-bottom:1px solid #b1cde2;}
.FirstMenu A { width:100%;height:42px;position:relative;margin:0;display:block;background:#eaf3fe;font:bold 14px/40px 微软雅黑,Verdana,宋体;text-indent:10px;overflow:hidden;color:#333;}
.FirstMenu A B { float:left;display:block;width:16px;height:15px;margin:13px 0 0 12px;background-position:-542px -90px}
.FirstMenu A SPAN { float:right;width:15px;height:15px;display:block;background-position:-547px -132px;margin:13px 20px 0 0;*margin:-25px 20px 0 0 !important;}

.SecondMenu { position:relative;width:100%;height:auto;overflow:hidden;background:#f7f9ff;border-bottom:1px solid #b1cde2;}
.SecondMenu UL,LI { position:relative;width:100%;height:auto;overflow:hidden;}
.SecondMenu LI { height:35px;margin:0px 0 0 10px;}
.SecondMenu LI A { width:160px;height:35px;display:block;background-position:-537px -281px;font:normal 14px/33px 微软雅黑,Verdana,宋体;text-indent:25px;color:#333;}
.SecondMenu LI A:hover { color:#000;font-weight:bold;}
.SecondMenu LI A SPAN { color:#f00;font-weight:normal;font-size:14px;margin:0 0 0 4px;}
.SecondMenu LI A SPAN B { color:#f00;font-weight:bold;margin:0 2px;}

.SecondMenu .Curr A { background-position:-537px -240px;color:#0e90ea !important;font-weight:bold !important;}


/* 右侧 */


.Right { width:100%;height:auto;position:relative;overflow:hidden;margin:0 auto;padding:0 0 20px;}


.Right .top { width:100%;height:41px;position:relative;background:#f2f6f9;border-bottom:1px solid #e2e2e2;margin:0 auto; }
.Right .top .location { width:90%;height:38px;background-position:-534px -197px;font:bold 14px/46px 微软雅黑;*font:bold 14px/42px 微软雅黑;color:#333;text-indent:30px; }

.Right .menu { width:99%;height:auto;overflow:hidden;position:relative;background:#fafafa;border:1px solid #e1e1e1;padding:5px 0;margin:10px auto 0;}


/*
.gzt .menu UL { width:355px;}
.Right .menu UL LI { float:left;height:auto;overflow:hidden;margin:0 15px 0 10px;}
.Right .menu UL LI DIV { float:left;border:none;}

.Right .menu UL LI .title { font:normal 14px/32px 微软雅黑;text-align:left;padding:0 4px 0 0;margin:0;}
.Right .menu UL LI .input { margin:5px 0 0 5px;text-align:left;}
.Right .menu UL LI .input INPUT { width:264px;height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px;line-height:18px;}

.Right .menu UL LI .input SELECT { width:132px;height:25px;border:1px solid #e2e2e2;background:#fff;}

.Right .menu .button { width:auto;}
.Right .menu .button A { display:block;width:55px;height:25px;text-align:center;font:normal 14px/24px 微软雅黑;color:#fff;margin:0;}


*/

.Right .menu LABEL, .Right .menu INPUT, .Right .menu SELECT, .Right .menu A { float:left;}

.Right .menu LABEL { font:normal 14px/32px 微软雅黑;margin:0 5px 0 10px;}

.Right .menu INPUT { height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px;margin:5px 0 0 5px;line-height:18px;}

.Right .menu SELECT { height:25px;border:1px solid #e2e2e2;background:#fff;margin:5px 0 0 5px;}

.Right .menu A { }


.btnNormal, .btnNormal:hover { display:block;width:55px;height:25px;text-align:center;font:normal 14px/24px 微软雅黑;color:#fff;margin:4px 0 0 10px;background:url(../images/common_system.png) no-repeat;border:none; }
.btnMiddle, .btnMiddle:hover { display:block;width:86px;height:25px;text-align:center;font:normal 14px/24px 微软雅黑;color:#fff;margin:4px 0 0 10px;background:url(../images/common_system.png) no-repeat;border:none; }

.btnNormal { background-position:-15px -248px;}
.btnNormal:hover { background-position:-15px -275px;}

.btnMiddle { background-position:-177px -248px;}
.btnMiddle:hover { background-position:-177px -275px;}

.Right .menu .r { float:right;margin:4px 10px 0 0 ;}
.Right .menu .widthShort { width:134px;}
.Right .menu .widthLong { width:264px;}

.Right .h1 { width:100%;height:auto;overflow:hidden;font-size:24px;color:#333;text-align:center;margin:20px auto 10px;}


.Right .table { width:100%;height:auto;overflow:hidden;margin:0 auto;}
.Right .table TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:99%;margin:10px auto 0}
.Right .table TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#1974b3;height:29px;padding:5px !important;text-align:center;font:bold 14px/24px 微软雅黑 !important;}
.Right .table TABLE TD {border:1px solid #e1e1e1;height:29px;padding:5px !important;color:#333;text-align:center;font:normal 14px/24px 微软雅黑 !important;}
.Right .table TABLE A { color:#333;}

.Right .table TR{ background:#fafafa;} 
.Right .table TR:nth-child(2n){ background:#fff;} 
.Right .table TR{ background-color: expression((this.sectionRowIndex % 2 == 0) ?   "#fafafa" : "#fff" );} 

.Right .table TABLE TR:hover TD { background:#f6f6f6;color:#1974b3 !important;}
.Right .table TABLE TR:hover TD A { color:#1974b3 !important}

.Right .table .bold TD { font-weight:bold !important;}
.Right .table .bold TD A { font-weight:bold !important;}


.Right .sheet { width:1100px; }
.Right .sheet TH { width:20%;}
.Right .sheet TD { text-align:left !important;}
.Right .sheet INPUT { width:80%;height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px;line-height:18px;float:left;}

.Right .sheet SELECT { width:81%;height:25px;border:1px solid #e2e2e2;background:#fff;}

.Right .sheet A { float:left;margin-top:-1px;color:#fff !important;}
.Right .sheet A:hover { color:#fff !important;}
.Right .sheet TABLE TR:hover TD A { color:#fff!important}

.Right .sheet .rdo INPUT { width:auto;height:auto;border:none;background:none;padding:0;cursor:pointer;margin:7px 5px 0 0;*margin:4px 5px 0 0;}
.Right .sheet .rdo LABEL { float:left;width:170px;margin:0px 10px 0 0;}

.Right .sheet .cbx INPUT { width:auto;height:auto;border:none;background:none;padding:0;cursor:pointer;margin:7px 5px 0 0;*margin:4px 5px 0 0;}
.Right .sheet .cbx LABEL { float:left;width:170px;margin:0px 10px 0 0;}

.Right .sheet .cbx LI, .Right .sheet .rdo LI { width:210px;height:25px;overflow:hidden;float:left;}


.Right .sheet .upload { width:470px !important;height:32px;overflow:hidden;margin:0px 0 0;}
.Right .sheet .upload SPAN { width:50px;height:25x;display:block;background-position:-535px -52px;padding:0 0 0 30px;margin:0px 0 0;float:left; }

.Right .sheet .upload .left { float:left !important;width:300px;height:32px;margin:0px 10px 0 0;overflow:hidden;position:relative;}

.Right .sheet .upload A { }

.Right .sheet .upload .btnNormal { float:left;margin:3px 0 0 !important;z-index:30;}
.Right .sheet .upload .left .btnNormal { float:right;margin:3px 0 0;z-index:0; }

/*.Right .sheet .btnNormal:hover { background-position:-15px -248px;}*/
.Right .sheet .upload .btnMiddle:hover { background-position:-173px -212px;}
/*.Right .sheet .btnLong:hover { background-position:-238px -342px;}*/


.Right .sheet .upload .fieUpload { float:none !important;z-index:10;margin:-25px 0 0 240px;*margin:-25px 0 0 140px;cursor:pointer !important;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.Right .sheet .upload .txt { position:absolute;*position:relative;float:none !important;margin:-24px 0 0 0;*margin:-51px 0 0 0;z-index:20;width:225px !important;height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px !important;line-height:18px !important;*line-height:25px !important;}
.Right .sheet .upload .tet { position:absolute;*position:relative;float:none !important;margin:-24px 0 0 0;*margin:-51px 0 0 0;z-index:20;width:225px !important;height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px !important;line-height:18px !important;*line-height:25px !important;}
.Right .sheet .maintip { position:relative;float:left;width:98px !important;border:0px solid #000;height:32px !important;overflow:hidden;margin:2px 0 0 !important;font-size:16px;color:#f60;line-height:27px;text-indent:5px;text-align:left;}








.Right .bottom { width:100%;height:auto;overflow:hidden;margin:25px auto 0;text-align:center;}
.Right .bottom A { display:inline-block;width:125px;color:#000;line-height:30px;height:32px;text-align:center;background:#ccf;border:1px solid #c9c9c9;margin:0 25px;}
.table .bottom1 A { display:inline-block;width:125px;color:#000 !important;line-height:30px;height:32px;text-align:center;background:#ddd;border:1px solid #c9c9c9;}



.Right .pager { width:99%;height:auto;overflow:hidden;position:relative;margin:15px auto;text-align:right;}
.Right .pager DIV { width:500px;height:auto;overflow:hidden;float:right;}
.Right .pager UL { float:right;border-right:1px solid #e1e1e1;}
.Right .pager UL LI { width:30px;height:auto;overflow:hidden;float:left;text-align:center;}
.Right .pager A { display:block;width:29px;height:25px;border:1px solid #e1e1e1;border-right:none;color:#666;  }
.Right .pager .active { background:#f6f6f6;}
.Right .pager A:hover { background:#f8f8f8 !important;color:#000;}



.Right .iframe { width:100%;height:auto;overflow:hidden;margin:10px auto 5px;text-align:center;}
.Right .iframe IFRAME { width:100%;height:auto;margin:0 auto; }


/* 弹出页面 */

.Open { width:980px;height:auto;overflow:hidden;margin:32px auto 0;padding:0 0 32px; }

.Full { width:99%;}

.Open .guide { width:100%;height:auto;overflow:hidden;margin:0 auto;border-bottom:1px solid #c9c9c9;}

.Open .guide A { float:left;color:#333;line-height:28px;display:block;width:85px;height:29px;background:#ccf;border:1px solid #c9c9c9;text-align:center;margin:0 27px 7px 0;}

.Open .guide .r { float:right;margin-right:0 !important;}

.Open .title { width:100%;height:auto;overflow:hidden;text-align:center;font-size:20px;font-weight:bold;color:#282828;margin:36px auto 30px;}


.Open .status { width:100%;height:auto;overflow:hidden;text-align:left;font-size:14px;margin:0 auto;font-weight:bold;color:#000;}

.Open .table { width:100%;height:auto;overflow:hidden;margin:20px auto 0;}
.Open .table TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:100%;margin:0 auto}
.Open .table TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#1974b3;width:170px;height:29px;padding:5px !important;text-align:center;font:bold 14px/24px 微软雅黑 !important;}
.Open .table TABLE TD {border:1px solid #e1e1e1;height:29px;width:280px;padding:5px !important;color:#333;text-align:center;font:normal 14px/24px 微软雅黑 !important;}
.Open .table TABLE A { }

.Open .table TR{ background:#fafafa;} 
.Open .table TR:nth-child(2n){ background:#fff;} 
.Open .table TR{ background-color: expression((this.sectionRowIndex % 2 == 0) ?   "#fafafa" : "#fff" );} 

.Open .table TABLE TR:hover TD { background:#f6f6f6;color:#1974b3 !important;}
.Open .table TABLE TR:hover TD A { color:#fff !important}

/*
.Open .table TR{ background:#fafafa;} 
.Open .table TR:nth-child(2n){ background:#fff;} 
.Open .table TR{ background-color: expression((this.sectionRowIndex % 2 == 0) ?   "#fafafa" : "#fff" );}
.Open .table TABLE TR:hover TD { background:#f6f6f6;color:#1974b3 !important;}
.Open .table TABLE TR:hover TD A { color:#1974b3 !important}
 */

.Open .table INPUT { width:95%;height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px;line-height:18px;}

.Open .table SELECT { width:95%;height:25px;border:1px solid #e2e2e2;background:#fff;}

.Open .table .title, .Open .table .offdate, .Open .table .unit, .Open .table .summary, .Open .table .catagory, .Open .table .article { width:auto !important; }

.Open .table .title INPUT { width:97%;}

.Open .table .date INPUT { float:left;width:118px;}
.Open .table .date LABEL { float:left;line-height:23px;text-align:center;margin:0 5px;}


.Open .table .speaker INPUT { float:left;width:210px;}
.Open .table .speaker A { float:left;margin:0 0 0 5px;}


.Open .table .offdate INPUT { float:left;width:260px;margin:0 0 0 6px; }
.Open .table .offdate LABEL { float:left;color:#f60;margin:0 0 0 10px;}


.Open .table .unit INPUT { float:left;width:89%;margin:0 0 0 6px;}
.Open .table .unit A { float:left;margin:0 0 0 5px;}

.Open .table .summary TEXTAREA { width:97%;height:80px;overflow:hidden;padding:2px 4px;background:#fff;border:1px solid #eee;}


.Open .table .radio INPUT { float:left;width:auto !important;height:auto !important;margin:5px 0px 0 5px;border:none !important;background:none !important;padding:0 !important;cursor:pointer;}
.Open .table .radio LABEL { float:left;width:auto;height:20px;text-indent:5px;line-height:14px;*line-height:18px;margin:5px 0px 0;border:none;}


.Open .table .catagory INPUT { float:left;width:auto !important;height:auto !important;margin:5px 0px 0 5px;border:none !important;background:none !important;padding:0 !important;cursor:pointer;}
.Open .table .catagory  LABEL { float:left;width:auto;height:20px;text-indent:5px;line-height:14px;*line-height:18px;margin:5px 30px 0 0;border:none;}

.Open .files { width:100%;height:auto;overflow:hidden;margin:16px auto 0;background:#f6f9fe;padding:2px 0;}

.Open .files .top LABEL { float:left;width:70px;height:24px;font-weight:bold;background-position:-542px -52px;text-indent:20px;margin:4px 0 0 10px;}


.Open .files .top  A, .Open .files .top INPUT { float:left;color:#333;line-height:22px;display:block;width:85px;height:23px;background:#ccf;border:1px solid #c9c9c9;text-align:center;margin:5px 27px 7px 0;}


.Open .files UL { margin:18px 0 0 30px;color:#00F}
.Open .files UL LI { font-size:13px;margin:5px 0;}
.Open .files UL A { color:#f60;margin:3px 0 0 10px;}



.Open TABLE .upload { width:770px !important;height:32px;overflow:hidden;margin:0px 0 0;}
.Open TABLE .upload SPAN { width:50px;height:25x;display:block;background-position:-535px -52px;padding:0 0 0 30px;margin:0px 0 0;float:left; }

.Open TABLE .upload .left { float:left !important;width:450px;height:32px;margin:0px 10px 0 0;overflow:hidden;position:relative;}

.Open TABLE .upload A { }



.Open TABLE .upload .btnNormal { float:left;margin:3px 0 0 !important;z-index:30;}
.Open TABLE .upload .left .btnNormal { float:right;margin:3px 0 0;z-index:0; }

/*.Open TABLE .btnNormal:hover { background-position:-15px -248px;}*/
.Open TABLE .upload .btnMiddle:hover { background-position:-173px -212px;}
/*.Open TABLE .btnLong:hover { background-position:-238px -342px;}*/


.Open TABLE .upload .fieUpload { float:none !important;z-index:10;margin:-25px 0 0 390px !important;*margin:-43px 0 0 20px !important;cursor:pointer !important;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.Open TABLE .upload .txt { position:absolute;*position:relative;float:none !important;z-index:20;margin:-28px 0 0 -223px !important;*margin:-73px 0 0 -45px !important;width:370px !important;height:25px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px !important;line-height:18px !important;*line-height:25px !important;}
.Open TABLE .upload .tet { position:absolute;*position:relative;float:none !important;z-index:20;margin:-28px 0 0 -223px !important;*margin:-73px 0 0 -45px !important;width:370px !important;height:25px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px !important;line-height:18px !important;*line-height:25px !important;}
.Open .maintip { position:relative;float:left;width:200px !important;border:0px solid #000;height:32px !important;overflow:hidden;margin:2px 0 0 !important;font-size:16px;color:#f60;line-height:27px;text-indent:5px;text-align:left;}




.card { width:100%;heihgt:auto;overflow:hidden;margin:10px auto 0;} 

.card .nav { width:100%;height:auto;overflow:hidden;margin:0 auto;border-bottom:2px solid #0e8ee7;}

.card .nav A { width:15%;height:45px;font:bold 15px/46px 微软雅黑;text-align:center;display:block;margin:0 2px 0 0;padding:0 !important;cursor:pointer;float:left;background:#f7f7f7;}
.card .nav A:hover { background:#3ca0fb;color:#fff;}
.card .nav .curr { background:#0e8ee7;color:#fff; }

.card .inner { border:1px solid #ccc;border-top:none;width:978px;height:auto;overflow:hidden;margin:0 auto;}

/* 正文 */

.card #con_one_1 {}

/* 报名情况 */
.card #con_one_2  { }

.card #con_one_2 .top { width:100%;height:auto;overflow:hidden;margin:18px auto 0;}

.card #con_one_2 .top LI { }
.card #con_one_2 .top LI B { font-weight:bold;}
.card #con_one_2 .top LI SPAN { color:#f60;}




.card #con_one_2 .button { width:220px;height:36px;position:relative;overflow:hidden;float:right;margin:0px 5px 0 0;}
.card #con_one_2 .button A { display:inline-block;width:83px;height:34px;background:#f93;border:1px solid #ebebeb;text-align:center;font-weight:bold;font-size:16px;color:#fff;line-height:34px;float:right;margin:0 0 0 20px;}


.card #con_one_2 TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:99%;margin:15px auto;}
.card #con_one_2 TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#1974b3;height:29px;padding:5px 15px !important;text-align:center;}
.card #con_one_2 TABLE TD {border:1px solid #e1e1e1;background:#fafcfd;height:29px;padding:5px 15px !important;color:#333;text-align:center;}
.card #con_one_2 TABLE A { color:#6c99ff;font-weight:bold;display:inline-block;margin:0 5px;}

.card #con_one_2 .top TABLE  { border:none;background:none;padding:0;width:76%;margin:0 0 0 5px; float:left;}

.card #con_one_2 .top TABLE TH, .card #con_one_2 .top TABLE TD { border:none;background:none;padding:0 !important;height:auto !important;text-align:left;}
.card #con_one_2 .top TABLE LABEL { display:block;width:125px;height:25px;background-position:-531px -337px;text-indent:26px;color:#333;font-weight:bold;}
.card #con_one_2 .top TABLE .list2 TH { padding-top:10px !important;}
.card #con_one_2 .top TABLE .list2 TD { padding-top:10px !important;color:#f60; }

/* 相关评论 */
.card #con_one_3  { }

.card #con_one_3 .appraise { width:100%;height:auto;overflow:hidden;margin:20px auto 0;text-align:center;}
.card #con_one_3 .appraise A { display:inline-block;width:90px;height:90px;text-align:center;font-size:13px;font-weight:bold;line-height:160px;} 

.card #con_one_3 .appraise .hp { background-position:-9px -438px;color:#390;}
.card #con_one_3 .appraise .zp { background-position:-97px -438px;color:#39f;}
.card #con_one_3 .appraise .cp { background-position:-185px -438px;color:#390;}

.card #con_one_3 .comment { width:96%;height:auto;overflow:hidden;margin:0 auto;padding:0 0 40px;}
.card #con_one_3 .comment .count { widt:100%;height:auto;overflow:hidden;font-weight:bold;}
.card #con_one_3 .comment .count SPAN { margin:0 0 0 22px !important;font-weight:normal}
.card #con_one_3 .comment .count SPAN B { font-weight:bold;color:#f93;margin:0 5px;}
.card #con_one_3 .comment .count A { float:right;display:inline-block;margin:5px 2px 0 0;width:114px;height:26px;background:#f93;text-align:center;color:#fff;}


.card #con_one_3 .comment .txtarea { width:100%;height:auto;overflow:visible;margin:10px auto 0;}
.card #con_one_3 .comment .txtarea TEXTAREA { width:99%;height:75px;border:1px solid #c1c1c1;padding:2px;}
.card #con_one_3 .comment .submit { margin:5px 0 0 ;}
.card #con_one_3 .comment .submit SPAN { margin:0 !important;float:left;}
.card #con_one_3 .comment .submit A {}

.card #con_one_3 .comment UL { }

.card #con_one_3 .comment UL LI { border-top:1px dotted #e4e4e4;padding:16px 0 0;margin:17px 0 0;}

.card #con_one_3 .comment .avatar { width:50px;height:50px;float:left;}
.card #con_one_3 .comment .avatar IMG { width:50px !important;height:50px !important;border:none !important;} 
.card #con_one_3 .comment .content { width:850px;height:auto;overflow:hidden;float:right;margin:0px 0 0 28px;}
.card #con_one_3 .comment .top { width:100%;height:auto;overflow:hidden;margin:0;color:#a5a5c2;}
.card #con_one_3 .comment .top SPAN { margin:0 0 0 31px;}

.card #con_one_3 .comment .top B { float:left;}
.card #con_one_3 .comment .top LABEL { float:right;color:#9999b2; }
.card #con_one_3 .comment .top A { float:right;display:block;width:77px;height:26px;background:#f93;text-align:center;color:#fff;margin:0 0 0 16px; }

.card #con_one_3 .comment .text { width:100%;height:auto;overflow:hidden;margin:8px 0 0;}


.card #con_one_3 .comment .reply { width:815px;height:auto;overflow:hidden;float:right;margin:13px 6px 0 0;padding:13px;background:#f9f9f9;border:1px solid #f2f2f2;}

.card #con_one_3 .comment .more { display:block;width:100%;height:28px;background:#f2f2f2;text-align:center;color:#666;margin:23px auto 0;line-height:28px; }

/*
.card #con_one_3 .comment .reply .unit { height:auto;overflow:hidden;float:left;}
.card #con_one_3 .comment .reply .txt { height:auto;overflow:hidden;float:left;}
*/


.card #con_one_3 TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:100%;}
.card #con_one_3 TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#f60;width:160px;height:29px;padding:5px 15px !important;text-align:center;}
.card #con_one_3 TABLE TD {border:1px solid #e1e1e1;background:#fafcfd;height:29px;padding:5px 15px !important;color:#06f;text-align:left;;}




/* 调查题目 */
.card #con_onep_1  { }

.card #con_onep_1 .top { width:100%;height:auto;overflow:hidden;margin:18px auto 0;font-size:18px;text-indent:6px;font-weight:bold;color:#5e5e5e;}

.card #con_onep_1 .top B { color:#f60;font-weight:bold;font-size:18px;margin:0 5px;}

.card #con_onep_1 .button { width:340px;height:36px;position:relative;float:right;margin:-30px 5px 0 0;}
.card #con_onep_1 .button A { display:inline-block;width:83px;height:34px;background:#f93;border:1px solid #ebebeb;text-align:center;font-weight:bold;font-size:16px;color:#fff;line-height:34px;float:right;margin:0 0 0 20px;}


.card #con_onep_1 TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:99%;margin:15px auto;}
.card #con_onep_1 TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#1974b3;height:29px;padding:5px 15px !important;text-align:center;}
.card #con_onep_1 TABLE TD {border:1px solid #e1e1e1;background:#fafcfd;height:29px;padding:5px 15px !important;color:#333;text-align:left;}
.card #con_onep_1 TABLE A { color:#6c99ff;font-weight:bold;display:inline-block;margin:0 5px;}

.card #con_onep_1 TABLE .t1 { width:50px;padding:5px !important;text-align:center !important;}
.card #con_onep_1 TABLE .t2 { width:80px;padding:5px !important;text-align:center !important;}
.card #con_onep_1 TABLE .t3 { width:110px;padding:5px !important;text-align:center !important;}


/* 参与调查记录 */
.card #con_onep_2  { }

.card #con_onep_2 .top { width:100%;height:auto;overflow:hidden;margin:18px auto 0;font-size:18px;text-indent:6px;font-weight:bold;color:#5e5e5e;}

.card #con_onep_2 .top B { color:#f60;font-weight:bold;font-size:18px;margin:0 5px;}

.card #con_onep_2 .button { width:340px;height:36px;position:relative;float:right;margin:-30px 5px 0 0;}
.card #con_onep_2 .button A { display:inline-block;width:83px;height:34px;background:#f93;border:1px solid #ebebeb;text-align:center;font-weight:bold;font-size:16px;color:#fff;line-height:34px;float:right;margin:0 0 0 20px;}


.card #con_onep_2 TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:99%;margin:15px auto;}
.card #con_onep_2 TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#1974b3;height:29px;padding:5px 15px !important;text-align:center;}
.card #con_onep_2 TABLE TD {border:1px solid #e1e1e1;background:#fafcfd;height:29px;padding:5px 15px !important;color:#333;text-align:center;}
.card #con_onep_2 TABLE A { color:#6c99ff;font-weight:bold;display:inline-block;margin:0 5px;}


/* 弹出子页面 */

.OpenInner { width:730px;height:auto;overflow:hidden;margin:10px auto 0;padding:0 0 32px; }



.OpenInner .menu { width:99%;height:auto;overflow:hidden;position:relative;background:#fafafa;border:1px solid #e1e1e1;padding:5px 0;margin:10px auto 0;}


/*
.gzt .menu UL { width:355px;}
.OpenInner .menu UL LI { float:left;height:auto;overflow:hidden;margin:0 15px 0 10px;}
.OpenInner .menu UL LI DIV { float:left;border:none;}

.OpenInner .menu UL LI .title { font:normal 14px/32px 微软雅黑;text-align:left;padding:0 4px 0 0;margin:0;}
.OpenInner .menu UL LI .input { margin:5px 0 0 5px;text-align:left;}
.OpenInner .menu UL LI .input INPUT { width:264px;height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px;line-height:18px;}

.OpenInner .menu UL LI .input SELECT { width:132px;height:25px;border:1px solid #e2e2e2;background:#fff;}

.OpenInner .menu .button { width:auto;}
.OpenInner .menu .button A { display:block;width:55px;height:25px;text-align:center;font:normal 14px/24px 微软雅黑;color:#fff;margin:0;}


*/

.OpenInner .menu LABEL, .OpenInner .menu INPUT, .OpenInner .menu SELECT, .OpenInner .menu A { float:left;}

.OpenInner .menu LABEL, .OpenInner .up DIV { font:normal 14px/32px 微软雅黑;margin:0 5px 0 10px;}

.OpenInner .menu INPUT { height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px;margin:5px 0 0 5px;line-height:18px;}

.OpenInner .menu SELECT { height:25px;border:1px solid #e2e2e2;background:#fff;margin:5px 0 0 5px;}

.OpenInner .menu A { }

.OpenInner .menu TEXTAREA { float:left;padding:5px;width:640px;height:50px;resize:none;border:1px solid #e4e4e4;background:#fff;margin:0; }


.OpenInner .menu .r { float:right;margin:4px 10px 0 0 ;}
.OpenInner .menu .widthShort { width:134px;}
.OpenInner .menu .widthLong { width:264px;}

.OpenInner .up { padding:15px 0 0;}
.OpenInner .up .c INPUT { height:auto !important;border:none;background:none;padding:0;margin:10px 5px 0 0; }
.OpenInner .up .c LABEL { *line-height:35px;margin:0 80px 0 0;color:#333;}

.OpenInner .up .r INPUT { height:auto !important;border:none;background:none;padding:0;margin:10px 0 0 5px;*margin:7px 0 0 5px; }
.OpenInner .up .r LABEL { color:#39f}




.OpenInner .table { width:100%;height:auto;overflow:hidden;margin:0 auto;}
.OpenInner .table TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:99%;margin:10px auto 0}
.OpenInner .table TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#1974b3;height:29px;padding:5px !important;text-align:center;font:bold 14px/24px 微软雅黑 !important;}
.OpenInner .table TABLE TD {border:1px solid #e1e1e1;height:29px;padding:5px !important;color:#333;text-align:center;}
.OpenInner .table TABLE A { color:#6c99ff;font-weight:bold;display:inline-block;margin:0 5px;}

.OpenInner .table TR{ background:#fafafa;} 
.OpenInner .table TR:nth-child(2n){ background:#fff;} 
.OpenInner .table TR{ background-color: expression((this.sectionRowIndex % 2 == 0) ?   "#fafafa" : "#fff" );} 

.OpenInner .table TABLE TR:hover TD { background:#f6f6f6;color:#1974b3 !important;}
.OpenInner .table TABLE TR:hover TD A { color:#1974b3 !important}

.OpenInner .bottom { width:100%;height:auto;overflow:hidden;margin:25px auto 0;text-align:center;}
.OpenInner .bottom A { display:inline-block;width:125px;color:#000;line-height:30px;height:32px;text-align:center;background:#ccf;border:1px solid #c9c9c9;margin:0 25px;}



/* 打印 */


.Print { width:850px;height:auto;overflow:hidden;margin:10px auto 0;padding:0 0 32px; }

.Print .title { font-size:20px;font-weight:bold;color:#000;line-height:35px;text-align:center;width:100%;height:auto;overflow:hidden;margin:10px auto 0;}


.Print .date { width:100%;height:auto;overflow:hidden;margin:25px 0 0;font-size:14px;font-weight:bold;}

.Print .table { width:100%;height:auto;overflow:hidden;margin:0 auto;}
.Print .table TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:100%;margin:10px auto 0}
.Print .table TABLE TH {border-bottom:1px solid #e1e1e1;background:#f2f6f9;color:#000;height:29px;padding:5px !important;text-align:center;}
.Print .table TABLE TD {border:0px solid #e1e1e1;height:29px;padding:5px !important;color:#333;text-align:center;}
.Print .table TABLE A { color:#6c99ff;font-weight:bold;display:inline-block;margin:0 5px;}


.Print .table TABLE TH B { font-weight:bold;float:left;margin:0 0 0 10px;}
.Print .table TABLE TH LABEL { font-weight:bold;float:right;margin:0 10px 0 0 ;}

.Print .table TABLE TD UL { width:680px;height:auto;overflow:hidden;margin:0 0 0 -26px;*padding:0 0 7px;}
.Print .table TABLE TD LI { width:160px;text-align:left;float:left;margin:7px 0 7px 50px;}
.Print .table TABLE TD LI SPAN { float:left;}
.Print .table TABLE TD LI LABEL { float:right;}


.Print .log TABLE TH { text-align:center;font-weight:bold;}
.Print .log TABLE TD { text-align:center;padding:12px 0 !important;}

.Print .log TABLE TR{ background:#f7f7f7;} 
.Print .log TABLE TR:nth-child(2n){ background:#fff;} 
.Print .log TABLE TR{ background-color: expression((this.sectionRowIndex % 2 == 0) ?   "#f7f7f7" : "#fff" );} 

.Print .h1 { width:100%;height:25px;padding:5px;text-align:left;background:#f2f6f9;margin:15px auto 0;}
.Print .h1 SPAN { float:left;text-indent:10px;font-weight:bold;color:#1974b3;}
.Print .h1 B { float:right;font-weight:bold;color:#1974b3;margin:0 20px 0 0;}


.Print .join TH, .Print .join TD { border:1px solid #e1e1e1 !important; }
.Print .join TH { font-weight:bold;}

/*.Print .log TABLE TR:hover TD { background:#f6f6f6;color:#1974b3 !important;}
.Print .log TABLE TR:hover TD A { color:#1974b3 !important}*/





.Print .bottom { width:100%;height:auto;overflow:hidden;margin:25px auto 0;text-align:center;}
.Print .bottom A { display:inline-block;width:125px;color:#000;line-height:30px;height:32px;text-align:center;background:#ccf;border:1px solid #c9c9c9;margin:0 25px;}


.PrintWide { width:1097px;height:auto;overflow:hidden;margin:10px auto 0;padding:0 0 32px; }
.PrintWide .title { font-weight:normal;font-size:24px;}

.PrintWide .info { width:100%;height:auto;overflow:hidden;margin:10px auto 0;}
.PrintWide .info B { font-weight:bold;color:#f60;margin:0 2px;}
.PrintWide .info SPAN { font-weight:bold;}
.PrintWide .info SPAN B { font-weight:bold;color:#f60;margin:0 2px;}

.PrintWide .info TABLE TD { height:35px;font-size:15px;}

.PrintWide .info .t1 { width:500px;font-size:15px;}
.PrintWide .info .t2 { width:380px;font-size:15px;}

.Print .h2 { width:100%;height:25px;font-size:15px;text-align:left;margin:10px auto 0;font-weight:bold;}
.Print .h2 B { font-weight:bold;color:#f60;margin:0 2px;}



.PrintWide .infoSheet TABLE TR{ background:#f7f7f7;} 
.PrintWide .infoSheet TABLE TR:nth-child(2n){ background:#fff;} 
.PrintWide .infoSheet TABLE TR{ background-color: expression((this.sectionRowIndex % 2 == 0) ?   "#f7f7f7" : "#fff" );} 
.PrintWide .infoSheet TABLE TH { font-weight:bold;border:1px solid #e1e1e1;color:#1974b3;}
.PrintWide .infoSheet TABLE TD { border:1px solid #e1e1e1;}
.PrintWide .infoSheet TABLE TD B { font-weight:bold;color:#f60;margin:0 2px;}
.PrintWide .infoSheet TABLE .left { text-align:left;text-indent:5px;}
.PrintWide .infoSheet TABLE .p { text-indent:2em;}

.PrintWide .infoSheet .t1 { width:50px;}
.PrintWide .infoSheet .t2 { width:550px;}



/* 调查问卷 */


.Questionnaire { width:920px;height:auto;overflow:hidden;margin:10px auto 0;padding:0 0 32px; }

.Questionnaire .title { font-size:20px;font-weight:bold;color:#000;line-height:35px;text-align:center;width:100%;height:auto;overflow:hidden;margin:10px auto 0;}


.Questionnaire .txt { width:900px;padding:10px;line-height:27px;height:auto;overflow:hidden;margin:23px auto 0;background:#f8f8f8;border:1px solid #ebebeb;}


.Questionnaire .table { width:100%;height:auto;overflow:hidden;margin:0 auto;}
.Questionnaire .table TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:1px solid #e1e1e1;width:100%;margin:10px auto 0}
.Questionnaire .table TABLE TH {border:1px solid #e1e1e1;background:#f2f6f9;color:#000;height:29px;padding:5px !important;text-align:left;}
.Questionnaire .table TABLE TD {border:1px solid #e1e1e1;height:29px;padding:15px 5px !important;color:#333;text-align:center;}
.Questionnaire .table TABLE A { color:#6c99ff;font-weight:bold;display:inline-block;margin:0 5px;}


.Questionnaire .table TABLE TH { font-weight:bold;}
.Questionnaire .table TABLE TH SPAN { font-weight:bold;color:#f60;}

.Questionnaire .table TABLE TD UL { width:100%;height:auto;overflow:hidden;margin:0 0 0 12px;*padding:0 0 7px;}
.Questionnaire .table TABLE TD LI { width:15%;height:auto;overflow:hidden;text-align:left;float:left;padding:0 2px;margin:12px 0px 12px 0px;}
.Questionnaire .table TABLE TD LI INPUT { cursor:pointer;}
.Questionnaire .table TABLE TD LI DIV { float:left;width:13px;height:auto;overflow:hidden;}
.Questionnaire .table TABLE TD LI LABEL { display:block;width:auto;height:auto;overflow:hidden;margin:-16px 0 0 20px;*margin:-20px 0 0 25px;line-height:20px;word-break:break-all;}


.Questionnaire .table TABLE TD UL LI TABLE { border:none;margin:0;}
.Questionnaire .table TABLE TD UL LI TABLE TH { border:none;background:none;width:14px;height:auto;padding:0 !important;vertical-align:top;}
.Questionnaire .table TABLE TD UL LI TABLE TD { border:none;height:auto;padding:0 !important;text-align:left;vertical-align:top;}

.Questionnaire .table TABLE TD UL .fix_1 { width:48% !important;}
.Questionnaire .table TABLE TD UL .fix_2 { width:98% !important;}



.Questionnaire .table TABLE TD TEXTAREA { width:97%;height:80px;overflow:hidden;margin:0 auto;padding:2px 4px;background:#fff;border:1px solid #a9a9a9;}


.Questionnaire .bottom { width:100%;height:auto;overflow:hidden;margin:25px auto 0;text-align:center;}
.Questionnaire .bottom A { display:inline-block;width:125px;color:#000;line-height:30px;height:32px;text-align:center;background:#ccf;border:1px solid #c9c9c9;margin:0 25px;}




/* delete A outline */
 
a, .searchBtn, .loginPage .center .option .fl INPUT {blr:expression(this.onFocus=this.blur()); /* IE Opera */ outline: none; /* FF Opera */ }

area { blr:expression_r(this.onFocus=this.blur())}
a:active { star:expression(this.onFocus=this.blur());}
a:active, a:focus { -moz-outline-style: none;-moz-outline: none; outline: none; ie-dummy:expression(this.hideFocus=true);}

area {blr:expression(this.onFocus=this.blur()); /* IE Opera */ outline: none; /* FF Opera */ }

area:active { star:expression(this.onFocus=this.blur());}
area:active, area:focus { -moz-outline-style: none; -moz-outline: none; outline: none; ie-dummy:expression(this.hideFocus=true);}

* {  -webkit-tap-highlight-color:rgba(0,0,0,0)}
A,AREA {  -webkit-tap-highlight-color:rgba(0,0,0,0)}




