@charset "utf-8";



* { margin:0;padding:0;font:normal 14px/24px 微软雅黑;}
BODY { width:100%;background:#f1f1f1; }
IMG { border:0;border-width: 0;border-style:none; }
A { text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur()); }
a:focus{ -moz-outline-style: none; /* FF */ } 
A:hover { text-decoration:none; }
UL,LI{ list-style:none !important;vertical-align:top;}
DIV,UL,LI { height:auto;padding:0;margin:0; } 


.clear { clear:both; }
.fl { float:left;}
.fr { float:right;}
.pointer { cursor:pointer;}

.default .TopMenu UL A, .lay1 .search UL LI, .lay1 .search UL A, .lay1 .search UL A, .newsbox .top, .newsbox .top SPAN, .newsbox .top A, .newsbox UL LI, .changeUl span, .changeUl span.on, .location, .ActBtn DIV, .lookup .sheet TABLE .title TD, .report UL LI, .queryResult .sheet TABLE .title TD, .catalog .list SPAN, .catalog .list LI, .catalogFrame .sheet TABLE TH { background:url(../images/common_web.png) no-repeat;}

.default { width:100%;height:auto;overflow:hidden;margin:0 auto;background:url(../images/common_web_bg.jpg) top center no-repeat;}


.default .TopMenu { width:1100px;height:auto;overflow:hidden;margin:208px auto 0;background:#000; }
.default .TopMenu UL { width:100%;height:46px;overflow:visible;margin:0 auto;border:none;border-bottom:4px solid #08449b;}
.default .TopMenu UL LI { display:block;width:157px;height:46px;overflow:visible !important;float:left;border-left:1px solid #fff;background:#4486e2;margin:0 0 0 -1px}
.default .TopMenu UL A { display:block;width:100%;height:46px;border:none;color:#fff;font-size:18px;font-weight:bold;text-align:center;line-height:47px;text-indent:35px;}

.default .TopMenu UL .FixLastWidth { width:158px;}

.default .TopMenu UL LI:hover { background:#366ed4;}

.default .TopMenu UL .wzsy { background-position:-278px -75px;}
.default .TopMenu UL .xwdt { background-position:-278px -119px;}
.default .TopMenu UL .xxgk { background-position:-278px -167px;}
.default .TopMenu UL .jggs { background-position:-278px -211px;}
.default .TopMenu UL .zcwj { background-position:-278px -255px;}
.default .TopMenu UL .ycfx { background-position:-278px -307px;}
.default .TopMenu UL .jgjb { background-position:-278px -355px;}

.default .TopMenu UL DIV { position:absolute;z-index:30;width:161px;height:auto;overflow:hidden;background:url(../images/top-menu-list-bg-w157.png) bottom center no-repeat;margin:4px 0 0 -4px;}

.default .TopMenu UL DIV A { width:100%;height:32px;background-position:9999px 9999px;color:#0f4aaa;font-weight:normal;text-indent:0px;line-height:32px;margin:5px 0 5px 3px;}
.default .TopMenu UL DIV A:hover { background-position:-223px -497px;font-weight:normal;color:#fff;}




.default .TopMenu UL .FixLastDiv { background:url(../images/top-menu-list-bg-w158.png) bottom center no-repeat;}
.default .TopMenu UL .FixLastDiv A:hover { background-position:-223px -554px;}




.lay0, .lay1, .lay2, .lay3, .lay4, .lay5, .lay6 { width:1100px;height:auto;overflow:hidden;margin:0 auto;background:#fff;}

.lay0 { padding:0;}
.lay1 { padding:11px 0 0; }
.lay2, .lay3, .lay4, .lay5, .lay6 { padding:16px 0 0; }
.lay6 { padding:16px 0 13px; }

.lay1 .search { width:193px;height:auto;margin:0 0 0 5px;}
.lay1 .search UL { width:100%;height:auto;overflow:hidden;margin:-2px auto 0;}
.lay1 .search UL LI { width:193px;height:44px;overflow:hidden;margin:2px auto 0;background-position:-10px -200px;}

.lay1 .search UL A { display:block;width:193px;height:44px;overflow:hidden;color:#2f2f2f;font-size:16px;text-indent:35px;line-height:42px;text-align:center;}
.lay1 .search UL LI:hover {  filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;}
.lay1 .search UL A:hover {  filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;}


.lay1 .search UL .yyjgcx { background-position:-490px -77px;}
.lay1 .search UL .sfcx { background-position:-490px -120px;}
.lay1 .search UL .gscx { background-position:-490px -166px;}
.lay1 .search UL .zcwjcx { background-position:-486px -210px;}
.lay1 .search UL .fxyccx { background-position:-490px -257px;}
.lay1 .search UL .sytrqcx { background-position:-492px -302px;}





.changeBox{ width:340px;height:272px;margin:0 0 0 10px;position:relative; }
.changeBox .a_bigImg{ position:absolute;display:none;}
.changeDiv { position:absolute;display:none;}
.changeDiv SPAN{ position:absolute;left:0px;bottom:0;width:340px;height:40px;background:#000;filter:alpha(opacity=70);opacity:0.7;font-size:15px;text-indent:10px;line-height:40px;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.changeDiv a { display:block;color:#fff}
.changeDiv IMG { width:340px;height:272px;}
.changeUl { position:absolute;right:4px;bottom:0px;*bottom:13px;padding-left:19px;overflow:hidden;}
.changeUl li{ display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;}
.changeUl span { display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;margin-right:4px;*margin-right:7px;filter:alpha(opacity=85);opacity:0.85;cursor:pointer;line-height:999px;width:11px;height:11px;color:#fff;background-position:-232px -610px;}
.changeUl span.on { color:#fff;background-position:-249px -610px;}


.newsbox { margin:0 5px 0 0 ;width:530px;height:272px;overflow:hidden;border:1px solid #dcdcdc;border-top:1px solid #3365a5;}

.newsbox .top { width:100%;height:35px;background-position:-8px -814px;}

.newsbox .top SPAN { display:inline-block;float:left;width:96px;height:29px;background-position:9999px 9999px;margin:6px 0 0 5px;font-size:16px;text-align:center;line-height:33px;color:#264dc0;font-weight:bold;}
.newsbox .top .curr { background-position:-10px -87px;}

.newsbox .top A { display:inline-block;float:right;width:39px;height:15px;background-position:-870px -52px;text-indent:-9999px;margin:12px 7px 0 0; }
.newsbox .top A:hover { filter:alpha(opacity=70);-moz-opacity:0.70;opacity:0.70;}

.newsbox UL { width:100%;height:auto;overflow:hidden;margin:0 auto;}
.newsbox UL LI { width:100%;height:20px;background-position:-860px -12px;margin:12px 0 0;*margin:9px 0 0;overflow:hidden;}

.newsbox UL A { float:left;width:396px;font-size:15px;color:#2f2f2f;margin:-1px 0 0 26px;height:21px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.newsbox UL A:hover { text-decoration:underline !important;}

.newsbox UL SPAN { float:right;font-size:15px;color:#939393;margin:-1px 5px 0 0;}

.newsbox .inner { width:639px;height:260px;*height:265px;margin:5px 0 0 5px;}
.newsbox .inner IFRAME  { width:100%;height:260px;*height:265px;order:none;margin:0 auto;}


.nlarge { width:650px;height:305px;*height:310px;margin:0 0 0 5px;}
.nlarge UL A { width:450px;}

.nsmall { width:423px;height:305px;*height:310px;margin:0 5px 0 0;}
.nsmall UL A { width:270px;}

.nmiddle .top SPAN { width:127px;}
.nmiddle .top .curr { background-position:-112px -87px;}


.nlong .top SPAN { width:142px;cursor:pointer;}
.nlong .top .curr { background-position:-11px -144px;}





.nfull { width:1087px;height:135px;margin:0 0 0 5px;}

.nfull UL { height:45px;margin:30px auto 0;}
.nfull UL LI { width:135px;height:45px;float:left;margin:0 0 0 18px;background:none;}
.nfull UL LI A { margin:0;width:135px;height:45px;}
.nfull UL LI IMG { width:135px;height:45px;border:none !important;}


.bottom { width:100%;height:150px;background:#1d3349;margin:40px auto 0;padding:20px 0 0;}
.bottom DIV { width:100%;height:auto;overflow:hidden;font-size:15px;text-align:center;line-height:32px;color:#adcbe9; }



.innerIFRAME { width:693px;height:260px;*height:265px;overflow:hidden;margin:0;border:none;padding:0;background:#fff;}


.location { width:100%;height:40px;overflow:hidden;margin:0 auto;background-position:-725px -77px;border:none;border-bottom:1px solid #d9d9d9; }

.location LABEL, .location A, .location SPAN { display:block;float:left;font-size:16px;margin-top:7px;}


.location LABEL { margin-left:45px;color:#264dba;}
.location A { color:#242424; }
.location A:hover { text-decoration:underline;}
.location SPAN { color:#242424;margin-left:5px;margin-right:5px; }

.lookup { width:100%;height:auto;overflow:hidden;margin:13px auto 0;padding:0 0 33px;}

.lookup .form, .lookup .sheet { width:1080px;height:85px;overflow:hidden;margin:0 auto;border:1px solid #dadada;background:#f9f9f9;}

.lookup .form TABLE, .lookup .sheet TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:0px solid #e1e1e1;width:100%;margin:0}
.lookup .form TABLE TH, .lookup .sheet TABLE TH { color:#1974b3;height:29px;font-weight:bold;}
.lookup .form TABLE TD, .lookup .sheet TABLE TD { height:37px;*height:39px;color:#333;}


.lookup .sheet { margin:12px auto 0;height:auto;background:#fff;border:none;}

.lookup .sheet TABLE, .lookup .sheet TABLE TH, .lookup .sheet TABLE TD { border:1px solid #e1e1e1; }

.lookup .sheet TABLE TD { text-align:center;height:28px;}
.lookup .sheet TABLE .title TD { background-position:-11px -440px;height:28px;font-size:16px;color:#264dbe; }

.lookup .sheet TABLE A { color:#333;}
.lookup .sheet TABLE A:hover { text-decoration:underline;}


.lookup .form LABEL { *vertical-align:top;color:#264dbe;}
.lookup .form INPUT { width:100px;height:18px;border:1px solid #e2e2e2;background:#fff;padding:2px 4px;line-height:18px;*margin:-1px 0 0;}
.lookup .form .between { margin:0 10px;}

.lookup .pager { width:99%;height:auto;overflow:hidden;position:relative;margin:15px auto 0;text-align:right;}
.lookup .pager DIV { width:500px;height:auto;overflow:hidden;float:right;}
.lookup .pager UL { float:right;border-right:1px solid #e1e1e1;}
.lookup .pager UL LI { width:30px;height:auto;overflow:hidden;float:left;text-align:center;}
.lookup .pager A { display:block;width:29px;height:25px;border:1px solid #e1e1e1;border-right:none;color:#666;  }
.lookup .pager .active { background:#f6f6f6;}
.lookup .pager A:hover { background:#f8f8f8 !important;color:#000;}

.lookup .include { width:1080px;height:auto;overflow:hidden;border:none;margin:12px auto 0;}
.lookup .include IFRAME { width:1080px;height:auto;overflow:hidden;border:none;}

.queryResult { width:1080px;height:auto;overflow:hidden;background:#fff;}


.queryResult .sheet { width:1080px;height:85px;overflow:hidden;margin:0 auto;border:1px solid #dadada;background:#f9f9f9;}

.queryResult .sheet TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:0px solid #e1e1e1;width:100%;margin:0}
.queryResult .sheet TABLE TH { color:#1974b3;height:29px;font-weight:bold;}
.queryResult .sheet TABLE TD { height:37px;*height:39px;color:#333;}

.queryResult .sheet { margin:0px auto 0;height:auto;background:#fff;border:none;}

.queryResult .sheet TABLE, .queryResult .sheet TABLE TH, .queryResult .sheet TABLE TD { border:1px solid #e1e1e1; }

.queryResult .sheet TABLE TD { text-align:center;height:28px;}
.queryResult .sheet TABLE .title TD { background-position:-11px -440px;height:28px;font-size:16px;color:#264dbe; }

.queryResult .sheet TABLE A { color:#333;}
.queryResult .sheet TABLE A:hover { text-decoration:underline;}


.queryResult .pager { width:99%;height:auto;overflow:hidden;position:relative;margin:15px auto 0;text-align:right;}
.queryResult .pager DIV { width:500px;height:auto;overflow:hidden;float:right;}
.queryResult .pager UL { float:right;border-right:1px solid #e1e1e1;}
.queryResult .pager UL LI { width:30px;height:auto;overflow:hidden;float:left;text-align:center;}
.queryResult .pager A { display:block;width:29px;height:25px;border:1px solid #e1e1e1;border-right:none;color:#666;  }
.queryResult .pager .active { background:#f6f6f6;}
.queryResult .pager A:hover { background:#f8f8f8 !important;color:#000;}






.ActBtn { display:inline-block;background:#4486e2;border:1px solid #3870df;color:#fff;font-size:15px;cursor:pointer;  }
.ActBtn:hover { background:#3870df;cursor:pointer}
.ActBtn DIV { background-position:-225px -644px;margin:0 0 0 0 ;text-indent:40px;letter-spacing:5px;}

.lookup .form .ActBtn, .lookup .form .ActBtn DIV { width:105px;height:25px;}


.report {  width:1080px;height:auto;overflow:hidden;margin:13px auto 0;border:1px solid #dadada;padding:0 0 25px;}

.report UL { width:1035px;height:auto;overflow:hidden;margin:14px auto 0;}

.report UL LI { background-position:9999px 9999px;width:100%;height:27px;overflow:hidden;text-align:left;margin:0 auto;font-size:17px;color:#264dbd;margin:10px 0 0;line-height:22px;}


.report UL .step1 { text-indent:30px;background-position:-742px -136px;}
.report UL .step2 { text-indent:30px;background-position:-742px -182px;}
.report UL .step3 { text-indent:30px;background-position:-742px -229px;}


.report TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:0px solid #000;width:1035px;margin:30px auto 0;}
.report TABLE TH { color:#1974b3;width:135px;height:45px;border:0px solid #000;font-size:16px;text-align:right;}
.report TABLE TD { height:45px;color:#333;padding:0 0 0 5px;border:0px solid #000;text-align:left;}

.report TABLE TD INPUT { float:left;width:300px;height:25px;border:1px solid #ccc;background:#fff;padding:2px 4px;line-height:25px; }
.report TABLE TD LABEL { float:left;margin:0 0 0 10px;color:#f60;font-size:15px;}

.report TABLE .long { padding-top:7px;}
.report TABLE .long INPUT { width:90%;}
.report TABLE .long TEXTAREA { width:90%;height:220px;padding:2px 4px;resize:none;border:1px solid #ccc;}

.report TABLE .submit { text-align:center;}
.report TABLE .submit A { width:105px;height:35px;text-align:center;line-height:35px;font-size:17px;}



.article {  width:1080px;height:auto;overflow:hidden;margin:36px auto 0;border:0px solid #dadada;padding:0 0 25px;}

.article .title { width:100%;height:auto;overflow:hidden;margin:0 auto;text-align:center;font-size:28px;color:#264dc7;padding:0 0 5px;}
.article .info { width:100%;height:auto;overflow:hidden;margin:30px auto 0;background:#e7e7e7;text-align:center;padding:8px 0;}
.article .info SPAN { font-size:16px;color:#242424;margin:0 10px;}


.article .content { width:1058px;height:auto;overflow:hidden;margin:30px auto 15px;padding:10px;border:1px solid #dadada;font-size:16px;line-height:30px;color:#555}



.catalog {  width:1080px;height:auto;overflow:hidden;margin:20px auto 25px;border:1px solid #dadada;padding:0 0 0px;}

.catalog .list { float:left;width:255px;height:auto;float:left;border-right:1px solid #dadada;}
.catalog .list .name { width:245px;margin:17px auto 0;height:28px;background:#08449b;border:1px solid 062f7d;}
.catalog .list SPAN { display:block;width:100%;height:28px;text-align:left;color:#fff;font-size:16px;font-weight:bold;line-height:28px;text-indent:27px;background-position:-738px -429px;}

.catalog .list UL { width:245px;height:auto;overflow:hidden;margin:15px auto 0;}
.catalog .list LI { width:100%;height:26px;overflow:hidden;background-position:-371px -757px;margin:0 0 10px;}
.catalog .list LI A { color:#4a4a4a;font-size:14px;line-height:27px;text-indent:9px;}
.catalog .list LI A:hover { color:#1974b3;}

.catalog .parentFrame { float:left;width:810px;height:auto;overflow:hidden;float:left;text-align:center;margin:0 0 0 7px;}

.catalog .parentFrame IFRAME { margin:0px auto;width:810px;height:auto;overflow:hidden;border:none;}

.catalogFrame_body { background:#fff;}

.catalogFrame { width:810px;height:auto;overflow:hidden;margin:0;padding:0;background:#fff;}

.catalogFrame .sheet .title { width:100%;height:auto;overflow:hidden;margin:15px auto 0;font-size:20px;text-align:center;font-weight:bold;color:#062f75;}


.catalogFrame .sheet { width:100%;height:auto;overflow:hidden;margin:0px auto 0;}
.catalogFrame .sheet TABLE { border-collapse:collapse;cellspacing:0;cellpadding:0;border:0px solid #e1e1e1;width:100%;margin:20px auto 0;}
.catalogFrame .sheet TABLE TH { color:#062f6e;height:28px;font-weight:bold;background-position:-201px -712px;}
.catalogFrame .sheet TABLE TD { height:28px;color:#333;text-align:center;}

.catalogFrame .sheet TABLE, .catalogFrame .sheet TABLE TH, .catalogFrame .sheet TABLE TD { border:1px solid #e1e1e1; }


.catalogFrame .sheet TABLE A { color:#333;}
.catalogFrame .sheet TABLE A:hover { text-decoration:underline;}


.catalogFrame .pager { width:99%;height:auto;overflow:hidden;position:relative;margin:-30px auto 0;text-align:right;padding:0 0 15px;}
.catalogFrame .pager DIV { width:500px;height:auto;overflow:hidden;float:right;}
.catalogFrame .pager UL { float:right;border-right:1px solid #e1e1e1;}
.catalogFrame .pager UL LI { width:30px;height:auto;overflow:hidden;float:left;text-align:center;}
.catalogFrame .pager A { display:block;width:29px;height:25px;border:1px solid #e1e1e1;border-right:none;color:#666;  }
.catalogFrame .pager .active { background:#f6f6f6;}
.catalogFrame .pager A:hover { background:#f8f8f8 !important;color:#000;}




