/*
-------------------------------
Site:        易臣OA系统 头部、导航样式
Updated:     2010-11-25
Updated by:
-------------------------------
*/
/*=======CSS reset start=======*/
body{margin:0; padding:0; background:#fff; font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0; }
table{border-collapse:collapse; border-spacing:0; font-family:"宋体"; border:none;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
ol,ul,li{list-style-type :none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none;}
/*=======CSS reset end=======*/

/*==========头部=========*/
.head{width:100%; height:54px; }
.head td{}
.head_r{width:440px; }

.logo{height:54px;}
.logoName{width:400px; height:54px;}
.loreName{width:480px; height:54px;}/*--知识管理平台名称--*/
.gwjhName{width:470px; height:54px;}/*--公文交换平台名称--*/

/*==========头部 end=========*/


/*==========导航=========*/
.logintit{height:37px;}
.logintit_r{width:353px; height:37px;  right:0;  position:relative; z-index:5; }

.userinfo{width:178px; height:37px; overflow:hidden;text-align:center; line-height:48px;font-size:12px;}
/*==========导航 end=========*/

/*==========标签=========*/
.tabsTool{width:100%; height:26px; overflow:hidden; font-size:12px;}

.tabs li { float:left;padding-left:3px; font-weight:bold;}
.tabs li a { display:block;*display:inline-block;height:26px;padding:0 13px 0 10px;text-align:center;line-height:30px;overflow:hidden;}
.tabs li.on a,
.tabs li.on a:hover {line-height:26px;}

/*-----右侧修改密码及退出---*/
.rightTool{float:right; font-size:12px;}
.rightTool li{height:16px; padding:0 0 0 20px; margin:5px 10px 0 0; float:left; display:inline;line-height:16px;}
/*==========标签 end=========*/



a.linkoutlogin:link,a.linkoutlogin:visited,a.linkoutlogin:active{font-size:9pt;font-weight:bold;text-decoration:none;}

.navigation {margin-left:10px;padding-top:0px;padding-bottom:0px;list-style:none;}
.navigation li {float:left; font-size:12px;}
.navigation li .aNormal {display:block; float:left; height:25x; line-height:26px; text-decoration:none;  font-family:arial, verdana, sans-serif; font-weight:600; text-align:center; padding:0 0 0 9px; cursor:pointer; padding-top:1px}
.navigation li .aNormal span {float:left;display:block; }
.navigation li .aNormal div {float:left;padding:0 5px 10px 3px;}

.navigation li a:hover span {font-weight:600;}

.navigation li .aActive {display:block; float:left; height:25x; line-height:26px;text-decoration:none; font-size:11px; font-family:arial, verdana, sans-serif; font-weight:600; text-align:center; padding:0 0 0 9px; cursor:pointer; padding-top:1px;}
.navigation li .aActive span {float:left;display:block;font-weight:600;}
.navigation li .aActive div {float:left;padding:0 5px 10px 3px; }

a.linklogo{font-size:9pt;text-decoration:none;}